.Home {

    .Map {
        z-index: 1;
    }

    .widgets {
        z-index: 10;
        position: fixed;
        top: 5px;
        left: 400px;
        right: 400px;
    }

    .test {
        background-color: pink;
        opacity: 0.6;
    }
    .about {
        z-index: 10;
        position: fixed;
        top: 5px;
        right: 5px;
    }

    	
    .Legend {
        position: absolute;
        bottom: 150px;
        left: 10px;
        z-index: 10;
        white-space: pre-line;
    }

    .Timeline {
        width: 90%;
        position: fixed;
        top: 90%;
        left: 50%;
        z-index: 10;
        transform: translate(-50%, -50%);
    }

    .slider-button {
        margin-bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .slider-button > div:nth-child(1) {
        border: 2px solid black;
    }

    .slider-button:hover > div:nth-child(1) {
        color: blue;
        font-weight: bold;
        border: 3px solid black;
    }

    .calculate-button {
        position: absolute;
        margin-bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 8px;

        left: 50%;
        background: rgba(255, 255, 255, 0.9);
        padding: 8px;
        border-radius: 8px;
        box-shadow: 0 0 6px rgba(0,0,0,0.15);
    }

}