.Home {
    width: 100%;
    height: 100vh;

    .Map {
        z-index: 0;
    }

    .widgets {
        z-index: 10;
        position: fixed;
        top: 2%;
        left: 2%;
        width: 96%;
        height: 96%;
    }

    .test {
        background-color: pink;
        opacity: 0.6;
    }
    
    .Timeline {
        background-color: white;
        height: 55px;
        width: 70%;
        border-radius: 5px;
        padding: 10px;
        position: fixed;
        top: 90%;
        left: 50%;
        /* bring your own prefixes */
        transform: translate(-50%, -50%);
    }

}