.Home {

    .Map {
        z-index: 0;
    }

    .widgets {
        z-index: 10;
        position: fixed;
        top: 2%;
        left: 50px;
    }

    .test {
        background-color: pink;
        opacity: 0.6;
    }
    
    	
    .Legend {
        position: absolute;
        bottom: 150px;
        left: 10px;
        z-index: 10;
        white-space: pre-line;
    }

    .Timeline {
        width: 90%;
        position: fixed;
        top: 90%;
        left: 50%;
        /* bring your own prefixes */
        transform: translate(-50%, -50%);
    }

}